<div class="panel panel-default">
    <div class="panel-heading">
        <form name="searchForm" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Start Date</span>
                    <input type="date" class="form-control" ng-model="search.startDate" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">End Date</span>
                    <input type="date" class="form-control" ng-model="search.endDate" />
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Contains</span>
                    <input type="text" class="form-control" ng-model="search.textToSearch" />
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
                <label class="checkbox-inline" ng-repeat="(key, val) in expenseCategories">
                    <input type="checkbox" checklist-model="search.selectedCategories" checklist-value="key"> {{ val }}
                </label>
                <button class="btn btn-primary" ng-click="search.doSearch()">Search</button>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <div ng-if="search.data">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="cat in search.data.Categories">
                    <summary-panel category="cat"></summary-panel>
                </div>
            </div>

			<expense-grid expenses="search.data.Expenses"></expense-grid>
		</div>
    </div>
</div>
