@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-box">
    <div style="padding:20px">
        <h2>Thank You</h2>

        <p>Thank you for contacting us. We will get back to you within 24 hours.</p>
    </div>
</div>
